<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/whiteboard_layout.css">
    <link rel="stylesheet" href="static/css/whiteboard_layout_mobile.css" media="(max-width: 768px)">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <title>Canvas</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <p id="web-message"></p>
        </div>

        <div class="banner">

        </div>

        <div class="left-aside">
            <ul id="toolbar">
                <!-- setting script type = Module dictates a local scope for the JS files. Button onclick calls global scope ie inaccessible for Whiteboard.js & Websocket.js -->
                <li><button id="pen">Pen</button></li>
                <li><button id="eraser">Eraser</button></li>
                <li><button id="tool_size">Size: Default</button></li>
                <li><button id="paintbrush">Paintbrush</button></li>
                <li><button id="clear_canvas">Clear Canvas</button></li>
                <li><button id="save_canvas">Take Snapshot</button></li>
                <li><button id="load_canvas">Load Snapshot</button></li>
                <li><button id="ping_server">Ping Server</button></li>
                <li><button id="get_server_data">Get Server Snapshot</button></li>
                <li><button id="update_server_data">Upload Last Snapshot</button></li>

                <!-- To Do: Store actions within JSON for data transfer
                <li><button>Undo</button></li>
                <li><button>Redo</button></li>
                <li><button>Enable: Autosave</button></li>
                -->
            </ul>
        </div>

        <div class="main">
            <canvas id="whiteboard"></canvas>
        </div>

        <div class="right-aside">

        </div>

        <div class="low-content">

        </div>

        <div class="footer">

        </div>
        <script type="module" src="static/js/whiteboard.js"></script>
        <script type="module" src="static/js/websockets.js"></script>
    </div>
</body>
</html>
