<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/whiteboard_layout.css">
    <title>Canvas</title>
</head>

<body>
    <div id="banner">
        <ul id="toolbar">
            <li><button>Pen</button></li>
            <li><button>Eraser</button></li>
            <li><button>Size</button></li>
            <li><button>Colour</button></li>
            <li><button>Undo</button></li>
            <li><button>Redo</button></li>
        </ul>
    </div>
    <div id="whiteboard_area">
        <canvas id="whiteboard" width="800" height="600"></canvas>
        <script src="static/js/whiteboard.js"></script>
    </div>
    <!-- Comment -->
</body>
</html>
